.logo {
    height: 130px;
    width: 130px;
    display: flex;
    border-radius: 75%;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100% );
	filter:drop-shadow(15px 15px 20px white);
    transition: 0.4s;

}